<div class="container mt-5 text-center">
  <div id="exampleModalLong">
    <!-- <div class="col-md-12">
      <input type="file" (change)="onFileChange($event)" />
    </div> -->
    <div class="row">
      <div class="col col-md-8 border-end">
        <image-cropper [imageBase64]="this.capturedImage" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [resizeToWidth]="256" format="png" (imageCropped)="cropImg($event)">
        </image-cropper>
        <!-- (imageLoaded)="LoadImage()"
    (cropperReady)="initiatCrop()" 
    (loadImageFailed)="failedCapture()" -->
      </div>
      <div class="col col-md-4" *ngIf="this.cropImgPreview !=''">
        <h6>Preview</h6>
        <img [src]="cropImgPreview" />
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div *ngIf="IsCapture">
    <div class="col-md-12">
      <webcam [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
    </div>
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="captureImage()" data-target="#exampleModalLong">
        {{BtnCapture}}
      </button>
    </div>
  </div>
</div>